<template name='about'>
  <div class="ui centered text container">
    <div class="ui center aligned basic segment">
      <h1>What is group bartering?</h1>
      <p class="center-justified">Imagine bringing one item to a swap meet. You offer this item up for trade and select items from other people you'd be willing to trade for. The odds of a person reciprocating the swap in your direction are slim at best. Odds are, you go home with your old unwanted item having unsuccessfully attempted to trade it away.</p>
      <img src="/packages/vyndica_ui/assets/images/giphy.gif" width="360" height="202"/>
      <br>
      <p class="center-justified">Now imagine that same swap meet. You bring the same item and select the same items you'd be willing to trade it for. This time, though, the swap meet is harnessing the power of group bartering. You are no longer relying on a 'one-for-one' trade. You and four other people are identified and grouped together for a five-way trade. The person to your right wants your old item. The person to your left has one of the items you wanted to trade for. Everyone then passes his or her item one person to the right. You have successfully traded for an item without having to consider what the other person wanted in return.</p>
      <p>That is the power of group bartering.</p>
      <br>
      <br>
      <br>
      <h2 class="ui dividing header">How it works</h2>
      <br>
      <div class="ui equal width center aligned grid">
        <div class="column">
          <img class="ui tiny centered rounded bordered image" src="/packages/vyndica_ui/assets/images/getIt.png"/>
          <h3>What do you want?</h3>
          <p class="center-justified">Select the stuff you want from the item wall.</p>
        </div>
        <div class="column">
          <img class="ui tiny centered rounded bordered image" src="/packages/vyndica_ui/assets/images/items.png"/>
          <h3>What do you have?</h3>
          <p class="center-justified">Tell us what you want to give up for the items you want via our “trade-for” wizard.</p>
        </div>
        <div class="column">
          <i class="about-icon-margin huge barcode icon"></i>
          <h3>Print shipping label</h3>
          <p class="center-justified">Once you’ve been identified as part of a trade loop, we’ll send you your shipping label.  Slap it on a box and send it out!</p>
        </div>
      </div>
      <br>
      <h3>You’ll receive your new item(s) in the mail!</h3>
    </div>
  </div>
</template>