<template name="terms">
    <div class="ui text container">
    <h1>Terms of service</h1>
    <h2>Vyndica Inc.</h2>
    <p>Last updated: 03/22/2016</p>
    <p>These Terms of Service (the "Terms") govern your use of the item exchange platform made available by Vyndica Inc. ("Vyndica," "we" and "us") at www.vyndica.com (the "Service" or the "Vyndica platform"). The details of the Service are set forth more fully in these Terms below and elsewhere on our website. To agree to these Terms, click "I Agree" where indicated in our user registration process.
    We reserve the right to modify these Terms prospectively at any time. We will post any changes to these Terms on our website, and will indicate the date the Terms were last revised. Your continued use of the Service after any such change constitutes your acceptance of the updated Terms.</p>
    <h3>1. The Vyndica Platform</h3>
    <p>The Service provides Vyndica users an online platform for facilitating the exchange of new & used items and services among multiple users. Specifically, the Vyndica platform enables you to exchange services or items that you own with one or more other users, such that, for example, if User A wants User B’s item, User B wants User C’s item, and User C wants User A’s item, a trade loop is created which connects users A, B, and C (and so on with additional users, as needed) so that all of the users in the collective transaction receive the item that they want.
    When all users for a proposed transaction have been identified by the Service, each user will be notified by Vyndica (via email and in-app notification) of the proposed transaction. The transaction will only become effective if and when all such users confirm approval (via in-app approval) of the proposed transaction, and for each such user only if approval is provided within ten (10) business days of Vyndica’s notice to such user of the proposed transaction. Any transaction for which Vyndica does not receive all such approvals will be cancelled (and no fees charged).</p>
    <h3>2. Eligibility</h3>
    <p>In order to use the Service, you must first agree to these Terms in the user registration process. You are also required to register and set up a profile for your presence on the Vyndica platform (your "Profile").
    The Service is intended solely for individuals who are at least 18 years of age or older. Any registration by, use of or access to the Service by anyone under 18 is unauthorized. By using the Service, you represent and warrant that you are 18 or older.</p>
    <h3>3. Registration</h3>
    <p>When you register with Vyndica, you will be asked to disclose certain personal information, including a user name and email address, and to set up a password, all of which will be subject to our Privacy Policy (available <a href="{{pathFor 'privacy'}}">here</a>). Please keep in mind that information posted to your Profile will be viewable by other users of the Service.
    You agree to provide us with true, accurate and complete information about you as requested in our registration process. You also agree to update such information promptly as necessary to keep it current and accurate.</p>
    <h3>4. Fees; Payment Terms</h3>
    <p>For each transaction approved by all users involved in such transaction, you are responsible for paying (i) the shipping cost and any related fees only for the item that you will receive, (ii) any insurance that you purchase through Vyndica’s designated shipper, and (iii) our service fee, in an amount equal to a percentage of the shipping cost. You authorize Vyndica’s designated payment processor to charge your specified credit card, debit card or other payment method for such fees.
    Unless otherwise specified, all fees are in United States dollars and all charges will be made in United States dollars.
    Except as required by law, all fees are nonrefundable. No fee will be charged for a proposed transaction until the transaction is approved by all involved users. Vyndica reserves the right to refuse or terminate any proposed transaction at any time in its sole discretion. You understand and agree that if you authorize a payment transaction with your credit card, debit card or other payment method, but your charge is rejected for any reason, there may be a hold on your use of that transaction amount for several days.
    You are responsible for any sales taxes, use taxes, or other taxes applicable to any transaction in which you are involved through the Service.</p>
    <h3>5. No Endorsement or Warranty</h3>
    <p>You acknowledge that Vyndica does not endorse, support, represent or guarantee the truthfulness, accuracy, or reliability of any content uploaded to the Service by or on behalf of any Vyndica user, or any opinion expressed in such content. You further acknowledge that Vyndica does not endorse, support, represent or provide any warranty for any item made available through the Service.</p>
    <h3>6. Dealings with Other Users and Third Parties</h3>
    <p>You are solely responsible for your interactions with other users of the Service and any other third party, including any disputes between you and another user in connection with a transaction or an item provided or received through a transaction through the Service. You acknowledge that Vyndica and its representatives are not parties to, and have no responsibility for, any communication, transaction, dispute or any other interaction between you and any other Vyndica user or other third party. YOU AGREE THAT Vyndica SHALL NOT BE RESPONSIBLE OR LIABLE FOR ANY LOSS OR DAMAGE OF ANY KIND ARISING FROM ANY DEALINGS BETWEEN YOU AND ANY OTHER VYNDICA USER OR OTHER THIRD PARTY.
    We reserve the right, but have no obligation, to monitor or attempt to mediate any dispute between you and any other user of the Service.</p>
    <h3>7. Prohibited Items</h3>
    <p>
    Vyndica reserves the right to prohibit, in its sole discretion, certain items and categories of items from being offered for exchange through the Service, which we may specify in these Terms and/or communicate to you after you propose a particular item for exchange through the Service. Items prohibited from the Service include, at a minimum, any item prohibited by any law, rule or regulation from being bought or sold through a marketplace such as the Vyndica platform. It is your responsibility to comply with all laws, rules, and regulations applicable to your use of the Service.
    For your reference, the following is a non-exhaustive list of items not permitted to be offered for exchange on the Vyndica platform:
      <ul>
        <li>Weapons, ammunition and related items;</li>
        <li>Military equipment or any item received from a governmental agency or program;</li>
        <li>Fireworks or any other destructive devices or explosives;</li>
        <li>Alcohol or tobacco products;</li>
        <li>Controlled substances or illegal drugs;</li>
        <li>Substances or other items used to manufacture controlled substances, or drug paraphernalia;</li>
        <li>Prescription drugs or medical devices, including contact lenses, hypodermic needles and hearing aids;</li>
        <li>Pornography or other obscene materials;</li>
        <li>Offers or solicitations of prostitution;</li>
        <li>Blood, bodily fluids or body parts;</li>
        <li>Household pets of any kind, or restricted or regulated plants or insects;</li>
        <li>Pesticides or hazardous substances, or items containing hazardous substances;</li>
        <li>Illegal telecommunications equipment;</li>
        <li>Stolen property, or property with the serial number removed or altered;</li>
        <li>Burglary tools, including master keys for automobiles and lock-picks;</li>
        <li>False identification cards, citizenship documents, or birth certificates, or similar false documentation;</li>
        <li>Counterfeit currency, coins, stamps, or tickets, or any equipment designed to make counterfeit items;</li>
        <li>Knock-off brand name goods;</li>
        <li>Material that infringes any third party’s copyright or other intellectual property rights;</li>
        <li>Tickets restricted from being resold, such as restricted-transfer airline tickets;</li>
        <li>Lottery tickets or any other other gambling-related item;</li>
        <li>Used bedding and clothing not sanitized in accordance with law; andFood.</li>
      </ul>
    </p>
    <h3>8. User Content; License to Vyndica</h3>
    <p>You understand and agree that you are solely responsible for all content, including all text, photos, videos and information regarding an item offered for exchange through the Service, which is uploaded to or otherwise made available through the Service through your Profile (collectively, your "User Content").
    You hereby represent and warrant that you own or have all licenses, consents, and/or permissions necessary to authorize Vyndica to use any and all of your User Content on the Service and as otherwise contemplated by these Terms, including under any and all copyright, trademark, and other intellectual property rights, as well as any and all moral rights, rights of privacy, rights of publicity and similar rights of any type under the laws or regulations of any governmental, regulatory, or judicial authority, foreign or domestic, in or to your User Content. You may not upload to or otherwise make available any content through the Service for which you do not have all such necessary ownership rights and/or licenses, consents or permissions.
    By uploading to or otherwise making available your User Content through the Service, you automatically grant to Vyndica an irrevocable, perpetual, non-exclusive, transferable, fully paid, worldwide license (with the right to sublicense) to use, copy, publicly perform, publicly display, prepare derivative works (including excerpting, in whole or in part) and distribute such User Content for any purpose (including commercial, advertising and other purposes), on or in connection with the Service or the promotion thereof, and to grant and authorize sublicenses of any of the foregoing. When you upload to or otherwise make available your User Content through the Service, you also authorize and direct Vyndica to make such copies thereof as we deem necessary in order to facilitate the transmission and storage of such User Content.
    You should exercise caution, good sense and sound judgment in uploading content to the Service. You should not upload any content to the Service that is confidential or proprietary to you or any third party.
    You may remove any of your User Content from the Service at any time. If you remove any of your User Content, the license granted by you to Vyndica above will immediately terminate with respect to such User Content, except that we may retain archived copies of such User Content for a reasonable period of time for audits and similar purposes. We do not assert any ownership over your User Content; rather, as between Vyndica and you, subject to the rights granted to us in these Terms, you retain full ownership of all of your User Content and any intellectual property rights or other proprietary rights associated with your User Content.
    You understand and agree that Vyndica may, but is not obligated to, review your User Content from time to time, and that we may delete or remove (without notice) from the Service any of your User Content in our sole discretion, for any reason or no reason, including if in our judgment such User Content violates these Terms, or might be offensive or illegal, or might harm or violate the rights or threaten the safety of users or others.</p>
    <h3>9. User Conduct.</h3>
    <p>You represent, warrant and agree that you own any item that you offer for exchange through the Service. You further represent, warrant and agree that your User Content will not violate or infringe upon the rights of any third party, including any copyright, trademark, privacy, publicity or other intellectual property, personal or proprietary right.
    Without limiting the generality of the foregoing, you agree not to upload to or otherwise make available through the Service any of the following:
      <ul>
        <li>any item that is not owned by you;</li>
        <li>any content that is not your original work, unless you have permission from the rightful owner to post such content and to grant Vyndica all of the licensed rights granted herein;</li>
        <li>any private information of any third party; or</li>
        <li>any content that is harmful, threatening, unlawful, defamatory, infringing, abusive, inflammatory, harassing, vulgar, obscene, fraudulent, invasive of privacy or publicity rights, hateful, or racially, ethnically or otherwise objectionable.</li>
      </ul>
    In using the Service, you also agree not to do any of the following:
      <ul>
        <li>impersonate any other person or entity in your Profile, or falsely state or otherwise misrepresent yourself or your affiliation with any other person or entity in your Profile;</li>
        <li>use or attempt to use another user’s Profile;</li>
        <li>intimidate or harass another user of the Service;</li>
        <li>conduct any activities that could damage, disable, overburden or impair the Service; or</li>
        <li>use the Service in a way that is not in compliance with any applicable law, rule or regulation.</li>
      </ul>
    </p>
    <h3>10. Intellectual Property in the Service</h3>
    <p>Subject to the terms and conditions of these Terms, the Service, including all text, graphics, photos, videos, information, applications, and any other content available on or through the Service, and their selection and arrangement in the Service, are the intellectual property of Vyndica or our licensors, with all rights reserved.
    Subject to the terms and conditions of these Terms, Vyndica grants you a non-exclusive, revocable, limited license to access and use the Service solely for the purposes set forth in these Terms. Any use of the Service other than as specifically authorized in these Terms, without the prior written permission of Vyndica, is strictly prohibited and will automatically terminate the foregoing license granted to you. Also, this license will terminate upon any termination of the Terms or upon any suspension, termination or cancellation of your access to the Service.
    You agree not to do any of the following:
      <ul>
        <li>Reverse engineer, decompile, disassemble, translate, modify, alter or otherwise change the Service, or any part thereof.</li>
        <li>Attempt to derive the source code or structure of the Service, or any part thereof.</li>
        <li>Remove from the Service, or alter, any of Vyndica’s or any of our licensors’ trademarks, trade names, logos, patent or copyright notices, or other notices or markings.</li>
        <li>Distribute, sublicense or otherwise transfer access to the Service to others.</li>
      </ul>
    </p>
    <h3>11. Copyright Protection</h3>
    <p>The U.S. Digital Millennium Copyright Act ("DMCA") provides recourse to copyright owners who believe that their rights under the United States Copyright Act have been infringed by acts of third parties over the Internet. If you believe that any content uploaded, posted or otherwise transmitted through the Service infringes upon any copyright which you own or control, you may so notify us in accordance with our DMCA process accessible here.
    In accordance with the DMCA and other applicable law, we have adopted a policy of terminating, in appropriate circumstances and at our sole discretion, users of the Service who are deemed to be repeat infringers. Vyndica may also at its sole discretion limit access to the Service or terminate the Profile of any user who infringes any intellectual property rights of others, whether or not there is any repeat infringement.</p>
    <h3>12. Trademarks</h3>
    <p>All trademarks, service marks, logos and trade names associated with Vyndica and/or the Service, whether registered or unregistered, are proprietary to Vyndica or to other companies where so indicated. Such marks may not be used, including as part of others’ trademarks or domain names, in connection with any product or service in any manner that is likely to cause confusion, and may not be copied, imitated, or used, in whole or in part, without the prior written permission of Vyndica.</p>
    <h3>13. Third-Party Websites and Content</h3>
    <p>The Service may contain or deliver links to other websites (each, a "Third-Party Site") as well as applications, software, text, graphics, pictures, designs, music, sound, video, articles, photographs, information, and other content belonging to or originating from third parties ("Third-Party Content"). Such Third-Party Sites and Third-Party Content are not investigated, monitored or checked for accuracy, appropriateness, or completeness by Vyndica, and we are not responsible for any Third-Party Sites accessed through the Service or any Third-Party Content uploaded to, or otherwise available through, the Service.
    If you decide to leave the Service and access a Third-Party Site or to use or install any Third-Party Content, you do so at your own risk and you should be aware that these Terms and Vyndica’s other policies no longer govern. You should review the terms and policies, including privacy and data gathering practices, applicable to any Third-Party Site or Third-Party Content to which you navigate or relating to any applications you use or install from the Service.</p>
    <h3>14. Privacy</h3>
    <p>All personally identifiable information that you provide to us through the Service will be held and used in accordance with our Privacy Policy, which may be accessed <a href="{{pathFor 'privacy'}}">here</a>.</p>

    <h3>15. Disclaimers</h3>
    <p>You acknowledge that Vyndica is not responsible or liable in any manner for (i) any item offered for exchange through the Service, or (ii) any content (including your User Content), or any Third-Party Content, posted or transmitted through the Service, whether posted or transmitted by users of the Service, by Vyndica, by a third party or by any of the equipment or software underlying the Service. Although we have rules prohibiting certain items, and have other user conduct rules, we do not control and are not responsible for what users offer for exchange through the Service, or upload to the Service. Vyndica is not responsible for the conduct, whether online or offline, of any user of the Service.
    The Service may be temporarily unavailable from time to time for maintenance or other reasons. Vyndica assumes no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of, user communications. Vyndica is not responsible for any technical malfunction or other problems of any telephone network or service, computer systems, servers or providers, computer or mobile phone equipment, software, failure of email on account of technical problems or traffic congestion on the Internet or on the Service or combination thereof, including injury or damage to your or to any other person’s computer, mobile device, or other hardware or software, related to or resulting from using or downloading materials in connection with the Service. Under no circumstance will Vyndica be responsible for any loss or damage resulting from your use of the Service, or from any content (including your User Content) or Third-Party Content uploaded or otherwise made available through the Service, or from any interactions between users of the Service (whether online or offline).
    Vyndica reserves the right to modify the Service at any time without notice.
    YOU EXPRESSLY AGREE THAT USE OF THE SERVICE IS AT YOUR SOLE RISK AND IS PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE (EXCEPT ONLY TO THE EXTENT PROHIBITED UNDER APPLICABLE LAW).
    VYNDICA DOES NOT GUARANTEE ANY SPECIFIC RESULT FROM USE OF THE SERVICE. VYNDICA DOES NOT REPRESENT OR WARRANT THAT THE SERVICE IS ACCURATE, COMPLETE, RELIABLE, CURRENT OR ERROR-FREE OR THAT THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.</p>
    <h3>16. Limitations on Liability</h3>
    <p>IN NO EVENT WILL VYNDICA OR ITS DIRECTORS, OFFICERS, EMPLOYEES, CONTRACTORS, PARTNERS OR AGENTS BE LIABLE TO YOU FOR ANY CONSEQUENTIAL, INCIDENTAL OR OTHER SPECIAL OR INDIRECT DAMAGES (INCLUDING FOR ANY LOST BUSINESS PROFITS) OR FOR PUNITIVE OR EXEMPLARY DAMAGES, HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, ARISING FROM YOUR USE OF THE SERVICE, EVEN IF VYNDICA IS AWARE OR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
    <h3>17. Termination</h3>
    <p>Vyndica may terminate your access to the Service, delete your Profile and/or prohibit you from using or accessing the Service for any reason, or no reason, at any time in its sole discretion, with or without notice.</p>
    <h3>18. Governing Law</h3>
    <p>Your use of the Service and these Terms shall be governed by, and construed in accordance with, the internal laws of the State of California without reference to the choice of law or conflicts of law principles thereof, and all claims relating to or arising out of your use of the Service or these Terms, or the breach thereof, whether sounding in contract, tort or otherwise, shall likewise be governed by the laws of the State of California without reference to the choice of law or conflicts of law principles thereof. The United Nations Convention for the International Sale of Goods shall not apply.</p>
    <h3>19. Disputes</h3>
    <p>Any dispute, claim or controversy arising out of or relating to the Service or these Terms, or the breach, termination, enforcement, interpretation or validity thereof, including the determination of the scope or applicability of this agreement to arbitrate, shall be determined by arbitration in San Diego, California before a panel of three neutral arbitrators, unless the matter in controversy is within the scope of an applicable small claims court’s jurisdiction. The arbitration shall be administered by JAMS pursuant to its Comprehensive Arbitration Rules and Procedures. Judgment on the arbitration award may be entered in any court having jurisdiction. This clause shall not preclude Vyndica or you from seeking provisional remedies in aid of arbitration from a court of appropriate jurisdiction. Note that there is no judge or jury in an arbitration proceeding and the decision of the arbitrator shall be binding upon both parties.</p>
    <h3>20. Indemnity</h3>
    <p>You agree to indemnify and hold harmless Vyndica, and its directors, officers, agents, contractors, partners and employees, from and against any loss, liability, claim, demand, damages, costs and expenses, including reasonable attorney’s fees, arising out of or in connection with any item you offer for exchange through the Service, any of your User Content, your conduct in connection with the Service, and/or any violation of these Terms or of any law or rights of any third party.</p>
    <h3>21. Miscellaneous</h3>
    <p>These Terms constitute the entire agreement between you and Vyndica regarding the use of the Service, superseding any prior agreements between you and Vyndica relating to your use of the Service. The failure of Vyndica to exercise or enforce any right or provision of these Terms shall not constitute a waiver of such right or provision in that or any other instance. If any provision of these Terms is held invalid, the remainder of these Terms shall continue in full force and effect. If any provision of these Terms shall be deemed unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from these Terms and shall not affect the validity and enforceability of any remaining provisions.</p>
    <h3>22. Questions</h3>
    <p>If you have any questions regarding these Terms, please contact us by sending an email to <a href="mailto:hello@vyndica.com">hello@vyndica.com</a>.</p>
</div>
</template>