<template name="search">
  <div class="ui three column grid">
    <div class="row">
    {{#each getItems}}
      <div class="column left aligned">
      {{> itemCard this}}
      </div>
    {{/each}}
    </div>
  </div>
  {{#if currentUser}}
{{> popupTrade}}
{{/if}}
{{> popupConfirm}}
</template>