<template name="settings">
<div class="ui main text container left aligned">
  <div class="ui top attached segment">
    <form class="ui form">
      <h4 class="ui dividing header">Settings</h4>
      <div class="ui segment">
        <div class="grouped fields">
          <label for="notifications">Notification frequency:</label>
          <div class="field">
            <div class="ui radio checkbox">
              <input id="weekly" type="radio" name="notifications" tabindex="0" class="hidden">
              <label>Weekly</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input id="daily" type="radio" name="notifications" checked="" tabindex="0" class="hidden">
              <label>Daily</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input id="none" type="radio" name="notifications" tabindex="0" class="hidden">
              <label>None</label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</template>