<template name="acceptterms">
  <div class="ui center aligned container terms">
  <h1 class="ui header">Vyndica Terms of Use</h1>
  <p>{{#if isBeta}}The Vyndica Trading App is currently a work in-progress.{{/if}} Please review the Terms and Conditions at the link below before use:</p>
  <a href="{{pathFor 'full.terms'}}">Vyndica Terms and Conditions</a>
  <br>
  <br>
  <button class="fluid ui blue button" data-action="accept">I accept the Terms.</button>
  <br>
  <button class="fluid ui blue button" data-action="decline">I decline the Terms.</button>
  </div>
</template>