<template name="termsofuse">
  <div class="ui center aligned container">
    <div class="ui secondary  menu">
      <a class="item">
        <i class="chevron left icon" data-action="back"></i>
      </a>
    </div>
    <h1 class="ui header">Terms and Conditions</h1>
  </div>
</template>