/* CSS declarations go here */
#blue-page {
    background-color: #0066cc
}

.ui[class*="top attached"].segment {
    margin-top: 0px;
    height: 93%;
}

.grid-sizer,
.grid-item {
  width: 50%;
}

.grid-item {
  float: left;
  padding-bottom: 1em;
  padding-right: .5em;
  padding-left: .5em;
}

@media only screen and (max-width: 767px) {
    .ui.container {
        margin-left: 0em !important;
        margin-right: 0em !important;
    }
}

.ui.grid > .row > .image.centered.column {
    padding: 0em;
}

.before {
    display: block;
    position: absolute;
    top: 1em;
    left: 1em;
    color: #2185d0;
    width: 100%;
    height: 20%;
}

.clickable {
    cursor:pointer;
}

.after{ 
    display: block;
    position: absolute;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3.5em;
    color: #FFF;
    background: rgba(0, 0, 0, .6);
}

.cardtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body{
    overflow: hidden;
}

#wrapper{
    padding: 0em;
    margin: 0em;
    overflow-y: auto;
    height: 95%
}

.header-title {
    width: 100%;
}

.ui.modal.items {
    top: 10%;
    height: 80%;
}

.ui.modal.items .content {
    height: 70%;
} 

.ui.modal .actions > .button {
    margin-left: 0em;
}

#main{
    margin-top: 3.5em;
}