<head>
  <script src="https://js.braintreegateway.com/js/braintree-2.24.0.min.js"></script>
</head>

<template name="checkout">
  <div class="ui modal checkout">
  <div class="ui dimmer">
    <div class="ui text loader">Verifying Address...</div>
  </div>
    <i class="close icon"></i>
    <div class="header">
      Checkout
    </div>
    <div class="content">
      {{> wizard id="checkout" steps=steps stepsTemplate='steps' buttonClasses="ui button" confirmButton="Finish" clearOnDestroy=true}}
    </div>
    <div class="actions">
      <div class="ui green right labeled icon button" data-action="confirm">
        Confirm
        <i class="checkmark icon"></i>
      </div>
      <div class="ui black deny button">
        Cancel
      </div>
    </div>
  </div>
</template>

<!--
{{#if hasError}}
        <div class="ui negative message">
          <div class="header">
            Address Verification Failed
          </div>
          <p>Please check your information</p>
        </div>
      {{/if}}
      
        {{#autoForm collection="Profiles" schema=Schemas.profile doc=profile id="information-form" type='method-update' meteormethod='updateAddressInfo'}}
          {{> afQuickField name="firstName"}}
          {{> afQuickField name="lastName"}}
          {{> afQuickField name="street1"}}
          {{> afQuickField name="street2"}}
          {{> afQuickField name="city"}}
          {{> afQuickField name="state"}}
          {{> afQuickField name="zip"}}
        {{/autoForm}}
        
    <div class="actions">
      <div class="ui green right labeled icon button" data-action="confirm">
        Confirm
        <i class="checkmark icon"></i>
      </div>
      <div class="ui black deny button">
        Cancel
      </div>
    </div>

-->

<template name="shipping-information">
  {{#if hasError}}
    <div class="ui negative message">
      <div class="header">
        Address Verification Failed
      </div>
      <p>Please check your information</p>
    </div>
  {{/if}}
  
    {{#autoForm collection="Profiles" schema=Schemas.profile doc=profile id="information-form"}}
      {{> afQuickField name="firstName"}}
      {{> afQuickField name="lastName"}}
      {{> afQuickField name="street1"}}
      {{> afQuickField name="street2"}}
      {{> afQuickField name="city"}}
      {{> afQuickField name="state"}}
      {{> afQuickField name="zip"}}
    {{/autoForm}}
</template>

<template name="payment-information">
  <form id="checkout" method="post" action="/checkout">
    <div id="payment-form"></div> 
    <input type="submit" value="Pay">
  </form>
  {{> wizardButtons}}
</template>
