<template name="looplist">
  <div class="ui main text container left aligned">
  <table class="ui celled padded table">
    <thead>
      <tr><th class="single line">{{title}} - {{titleize tradeloop.status}}</th></tr>
    </thead>
    <tbody>
      {{#each usersPairs}}
        {{> looptradepair }}
      {{/each}}
      {{#each otherPairs}}
        {{> looptradepair }}
      {{/each}}
    </tbody>
  </table>
  <div class="comment-section">
      {{> commentsBox id=tradeloop._id collectionName="tradecycles"}}
    </div>
</div>
{{> popupConfirm}}
{{> checkout profile=getProfile}}
</template>

<template name="looptradepair">
    <div class="tradepair item" id="{{divId}}">
    <div id="id" hidden>{{_id}}</div>
    <div id="cycleId" hidden>{{tradecycleId}}</div>
    <div class="ui center aligned grid">
      <div class="four wide column">
        <div class="row">
          <h2 class="ui image header">
            <img src="{{userItem.imgURL getImgParams}}" class="ui image" id="{{userItem._id}}">
          </h2>
        </div>
        <div class="row">
          {{userItem.title}}
        </div>
      </div>
      <div class="two wide column">
      <i class="big green long arrow right icon"></i>
      </div>
      <div class="four wide column">
        <div class="row">
          <h2 class="ui image header">
            <img src="{{tradeItem.imgURL getImgParams}}" class="ui image" id="{{tradeItem._id}}">
          </h2>
        </div>
        <div class="row">
          {{tradeItem.title}}
        </div>
      </div>
      <div class="six wide column">
        <div class="looplistcolumn">
        {{#if $eq ../tradeloop.status 'cancelled'}}
          {{#if $eq _id ../tradeloop.cancelledEdgeId}}
            Cancelled
          {{/if}}
        {{else}}
          {{#if $and ($eq status 'unconfirmed') ($eq ownerId $.Meteor.userId)}}
            <div class="ui buttons">
              <button class="ui positive button" data-action='confirm'>Confirm</button>
              <div class="or"></div>
              <button class="ui negative button" data-action='cancel'>Cancel</button>
            </div>
          {{else}}
            {{#if $eq ../tradeloop.status 'confirmed'}}
            Confirmed
            {{else}}
            {{titleize status}}
            {{/if}}
          {{/if}}
        {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="checkout">
  <div class="ui modal checkout">
  <div class="ui dimmer">
    <div class="ui text loader">Verifying Address...</div>
  </div>
    <i class="close icon"></i>
    <div class="header">
      Confirm Shipping Information
    </div>
    <div class="content">
      {{#if hasError}}
        <div class="ui negative message">
          <div class="header">
            Address Verification Failed
          </div>
          <p>Please check your information</p>
        </div>
      {{/if}}
      
        {{#autoForm collection="Profiles" schema=Schemas.profile doc=profile id="information-form" type='method-update' meteormethod='updateAddressInfo'}}
          {{> afQuickField name="firstName"}}
          {{> afQuickField name="lastName"}}
          {{> afQuickField name="street1"}}
          {{> afQuickField name="street2"}}
          {{> afQuickField name="city"}}
          {{> afQuickField name="state"}}
          {{> afQuickField name="zip"}}
        {{/autoForm}}
      
    </div>
    <div class="actions">
      <div class="ui green right labeled icon button" data-action="confirm">
        Confirm
        <i class="checkmark icon"></i>
      </div>
      <div class="ui black deny button">
        Cancel
      </div>
    </div>
  </div>
</template>