<template name="tradeloops">
  <div class="ui main text container left aligned">
    <table class="ui celled padded table">
      <thead>
        <tr><th class="single line">My Trades</th></tr>
      </thead>
      <tbody>
        {{#each tradeloops}}
          {{> tradeloop this}}
        {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="tradeloop">
{{#each getTradePairs}}
  <div class="tradepair item clickable" id="{{tradecycleId}}">
    <div class="ui center aligned grid">
      <div class="four wide column" id="{{tradecycleId}}">
        <div class="row" id="{{tradecycleId}}">
          <h2 class="ui image header">
            <img src="{{userItem.imgURL getImgParams}}" class="ui image" id="{{tradecycleId}}">
          </h2>
        </div>
        <div class="row" id="{{tradecycleId}}">
          {{userItem.title}}
        </div>
      </div>
      <div class="two wide column" id="{{tradecycleId}}">
      <i class="big green long arrow right icon" id="{{tradecycleId}}"></i>
      </div>
      <div class="four wide column" id="{{tradecycleId}}">
        <div class="row" id="{{tradecycleId}}">
          <h2 class="ui image header">
            <img src="{{tradeItem.imgURL getImgParams}}" class="ui image" id="{{tradecycleId}}">
          </h2>
        </div>
        <div class="row" id="{{tradecycleId}}">
          {{tradeItem.title}}
        </div>
      </div>
      <div class="six wide column" id="{{tradecycleId}}">
        <div class="looplistcolumn" id="{{tradecycleId}}">
        {{titleize status}}
        </div>
      </div>
    </div>
  </div>
{{/each}}
</template>