<template name="onboard">
  <div class="ui main text container left aligned">
    <div class="ui top attached segment">
      {{> wizard id="onboard" steps=steps stepsTemplate='steps' buttonClasses="ui button" confirmButton="Finish" clearOnDestroy=true}}
    </div>
  </div>
</template>

<template name="information">
{{#autoForm id="information-form" schema=step.schema}}
{{> afQuickField name="firstName"}}
{{> afQuickField name="lastName"}}
{{> afQuickField name="street1"}}
{{> afQuickField name="street2"}}
{{> afQuickField name="city"}}
{{> afQuickField name="state"}}
{{> afQuickField name="zip"}}

{{> wizardButtons}}
{{/autoForm}}
</template>

<template name="interests">
  {{#autoForm id="interests-form" schema=step.schema data=step.data}}
    <h4 class="ui dividing header">Items interested in</h4>
    <div class="ui segment grid">
      <div class="four column row">
      {{#each interests}}
        <div class="column interest-tag">
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" value="{{_id}}">
              <label>{{title}}</label>
            </div>
          </div>
        </div> 
      {{/each}}
      </div>
      </div>
    {{> wizardButtons}}
  {{/autoForm}}
</template>
