<template name="footer">
  <div class="ui padding-wrapper footer segment">
    <div class="ui right aligned grid">
      <div class="left floated left aligned five wide column">
          Copyright (c) 2016 - Vyndica, Inc.
      </div>
      <div class="left aligned two wide column">
        <div class="item"><a href="{{pathFor 'privacy'}}">Privacy</a></div>
      </div>
      <div class="left aligned two wide column">
        <div class="item"><a href="{{pathFor 'terms'}}">Terms</a></div>
      </div>
      <div class="right floated right aligned six wide column">
        <div
          class="fb-like"
          data-share="true"
          data-width="450"
          data-show-faces="true">
        </div>
      </div>
    </div>
  </div>
  <div class="ui modal" id="welcome">
      <div class="header">
        Welcome to Vyndica.
      </div>
      <div class="content">
        <div class="description">
          <p>We’re currently in pre-beta and working hard to bring you multi-party trading.</p>
          <p>In the meantime we encourage you to upload, browse, and interact with other swappers.</p>
          <p>If you have any issues of questions please reach out to us at hello@vyndica.com and we'll be happy to help you out</p>
        </div>
      </div>
      <div class="actions">
        <div class="ui positive right icon button">
          Ok
        </div>
      </div>
    </div>
</template>

