<head>
    <title>Vyndica</title>
    <link href='https://fonts.googleapis.com/css?family=Glegoo|Fauna+One' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=3">
</head>