<template name='shippingPrint'>   
<table border="0" cellpadding="0" cellspacing="0" width="600"><tbody><tr>
<td align="left" valign="top">
<b class="large_text">USPS Electronic Label: View/Print Label</b>

  <button class="ui teal button" onclick="javascript:window.print();">
    <i class="print icon"></i>
    Print Label
  </button>

&nbsp;<br>
<ol class="small_text"> <li><b>Ensure that there are no other tracking labels attached to your package.</b> &nbsp;
<br><br></li><li><b>
Fold the printed label at the dotted line. Affix the folded label using clear plastic shipping tape over the entire label.</b> &nbsp;

<br><br></li></ol></td></tr></tbody></table><table border="0" cellpadding="0" cellspacing="0" width="600">
<tbody><tr>
<td class="small_text" align="left" valign="top">
&nbsp;&nbsp;&nbsp;
<a name="foldHere">FOLD HERE</a></td>

</tr>
    <tr>
    <td align="left" valign="top"><hr>
    </td>
    </tr>
    </tbody>
</table>

<table>
    <tbody><tr>
    <td height="10">&nbsp;
    </td>
    </tr>
    </tbody>
</table>

<table border="0" cellpadding="0" cellspacing="0" width="650">
  <tbody><tr>
    <td align="center" valign="top">
      <img id="upslabel" src="{{getLabelURL}}" alt="Shipping Label" class="rotate90" width="392" height="600">
    </td>
   </tr>
</tbody></table>

</template>