<template name="_addImage">
<div class="fields">
  <div class="two wide field">
    <div class="ui action input">
        <label for="pictureFile" class="ui icon button btn-file">
          <i class="photo icon"></i>
          Add
        </label>
        <input type="file"  id="pictureFile" name="pictureFile" style="display:none" 
              class="cloudinary-fileupload" data-cloudinary-field="image_id" data-form-data="" accept=".png,.jpg">
    </div>
  </div>
  <div class="fourteen wide field">
    <img id="item-img" class="ui centered medium image" src="{{getImgSrc}}">
  </div>
</div>
</template>