<template name="appLayout">
  <div id="wrapper" class="ui container">
    <div id="header"  class="ui sticky">
      {{> yield region="header"}}
    </div>
    <div id="main">
      {{> yield}}
    </div>
  </div>
  <div id="footer">
    {{> yield region="footer"}}
  </div>
</template>