<template name="footer">
  <div class="ui blue fluid four item inverted tabular menu">
    <a class="active item" href="{{pathFor 'items.want'}}">
      <i class="exchange icon"></i>
    </a>
    <a class="item" href="{{pathFor 'items'}}">
      <i class="unordered list icon"></i>
    </a>
    <a class="item" href="{{pathFor 'messages'}}">
      <i class="mail icon"></i>
    </a>
    <a class="item" href="{{pathFor 'profile'}}">
      <i class="user icon"></i>
    </a>
    </div>
</template>