<template name="header">
  <div class="ui fixed borderless menu">
  {{#if canGoBack}}
    <a class="item">
      <i class="chevron left icon" data-action="goback"></i>
    </a>
  {{/if}}
    {{#if getHeaderTitle}}
    <div class="header header-title item">
      <div class="ui center aligned one column grid header-title">
        <div class="row">
          <div class="column">
            {{getHeaderTitle}}
          </div>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</template>