<template name="listDetail">
  <div class="clickable item" id="{{_id}}">
    <h2 class="ui image header" id="{{_id}}">
      <img src="{{imgURL getImgParams}}" class="ui image" id="{{_id}}">
      <div class="content" id="{{_id}}">
        <div class="header">{{title}}</div>
        <div class="description">
          <div class="statistic">
            <div class="value">
              <i class="blue comments icon"></i> {{getCommentCount}}
            </div>
          </div>
        </div>
      </div>
    </h2>
  </div>
</template>