<template name="notifications">
<div class="ui main text container left aligned">
  <table class="ui celled padded table">
    <thead>
      <tr><th class="single line">{{title}}</th></tr>
    </thead>
    <tbody>
    {{#if notifications}}
      {{#each notifications}}
      {{#with this.getItem}}
      <tr class="clickable">
        <td id="{{_id}}">
          <h2 class="ui image header" id="{{_id}}" >
            <img src="{{imgURL getImgParams}}" class="ui image" id="{{_id}}">
            <div class="content" id="{{_id}}">
              {{title}}
              <div class="sub header">
              </div>
            </div>
          </h2>
        </td>
      </tr>
      {{/with}}
      {{/each}}
    {{else}}
    You have no notifications
    {{/if}}
    </tbody>
  </table>
</div>
</template>