@import 'variables';
@import 'lib/elements';

.logo {
    height: 46px;
}

#main .login-wrapper {
    max-width: @loginFormWidth;
    margin: 2em auto 0 auto;
    color: @secondaryFontColor;

    .at-title .ui.header, label {
        color: @secondaryFontColor;
    }

    .at-form {
        padding: 1em;
        background-color: rgba(0, 0,0, 0.5);
        border-radius: 0.4em;
        .ui.form .at-input.field > label { color: @secondaryFontColor; }
    }

    .actions-wrapper {
        max-width: @loginFormWidth / 2;
        margin: 0 auto;
    }
    
    .at-signup-link {
        margin-top: 0.4em;
    }

    .hello {
        margin-bottom: 1.8em;
    }
}

media (max-width: mobile) {
    .ui.grid.main{
        margin-top: 70px;
    }
    .ui.vertical.menu.navbar{
        /*margin-top: 0px !important; */
    }
}

.mobile-bar{
    height: 50px;
}

.ui.vertical.menu{
    margin-top: 50px;
    width: 100%;
    display: none;
}