@import 'variables';
@import 'lib/elements';

#main {
    .boilerplate-feature.icon {
        margin-top: 10px;
        transition: 0.7s color;

        &:hover {
            color: @primaryIconColor;
        }

        &.hover-orange.html5:hover {
            color: @html5Orange;
        }
    }

    .features.grid {
        width: 100%;
        margin: 0%;
        margin-top: 30px;
    }

}