// General styles, e. g. for the body tag
@import 'helpers';
@import 'variables';
@import 'lib/elements';

/* -------------------
    Main Content
   ------------------- */

body, #main {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    color: @primaryFontColor;
    font-family: 'Fauna One', serif;
}

a {
    color: inherit;
    transition: 0.3s color;

    &:hover {
        color: @primaryLinkHoverColor;
    }
}

.icon {
    &.orange {
        color: @html5Orange;
    }
}

.ui.header {
    font-family: 'Glegoo', serif;
}

.clear {
    background: rgba(0, 0, 0, 0);
}

.invert {
    color: white;
}

.ui.massive.call-to-action.button {
    background:  #ff6600;
    color: white;
}

.site-wrapper {
    margin: 0 auto;
    max-width: @largeDesktopWidth;
}

#content {
    margin-top: 5em;
    margin-bottom: 10px;
    @media (min-width:769px){
        margin-left: 1em;
        margin-right: 1em;
    }
}

.interest-tag {
    padding: .5em;
}

.has-error {
    border-color: red;
}

.before {
    display: block;
    position: absolute;
    top: 1em;
    left: 1em;
    color: #2185d0;
    width: 100%;
    height: 20%;
}

.after{ 
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
    height: 3em;
    color: #FFF;
    background: rgba(0, 0, 0, .6);
}

.cardtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clickable {
    cursor:pointer;
}

.grid-sizer,
.grid-item {
  width: 25%;
}

@media (max-width:1200px){
    .grid-sizer,
    .grid-item {
      width: 33.333%;
    }
}

@media (max-width:768px){
    .grid-sizer,
    .grid-item {
      width: 50%;
    }
}

@media (max-width:423px){
    .grid-sizer,
    .grid-item {
      width: 100%;
    }
}

.looplistcolumn {
    padding-top: 2em;
}

.grid-item {
  float: left;
  padding-bottom: 1em;
  padding-right: .5em;
  padding-left: .5em;
}

.center-justified {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.tradepair.item > i {
    padding-top: .75em;
}

/* -------------------
    Banner
   ------------------- */
.home-banner {
    height: 450px;
    background-position: 50%;
    background-image: url("/images/banner1.jpg");
    background-size: cover;
    margin-bottom: -3em;
    opacity: .9;
}

/* -------------------
    Footer
   ------------------- */
footer {
    .border-radius(0px);
    margin-top: 30px;

    a:hover {
        color: @secondaryLinkHoverColor;
    }

}

/* ----------------------
    Util
    --------------------- */
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

img.ui.bordered.image {
    border: 1px solid rgba(0, 0, 0, 0.4);
}

i.about-icon-margin {
    margin-top: .15em;
    margin-bottom: .1em;
}