@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?tm2fv2');
    src:    url('fonts/icomoon.eot?tm2fv2#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?tm2fv2') format('truetype'),
        url('fonts/icomoon.woff?tm2fv2') format('woff'),
        url('fonts/icomoon.svg?tm2fv2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-graph-network-icon:before {
    content: "\e900";
}

