<head><script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1550352415288635',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '465671820265013');
    fbq('track', "PageView");
</script>
<script type="text/javascript">(function(d,n){var s,a,p;s=document.createElement("script");s.type="text/javascript";s.async=true;s.src=(document.location.protocol==="https:"?"https:":"http:")+"//cdn.nudgespot.com"+"/nudgespot.js";a=document.getElementsByTagName("script");p=a[a.length-1];p.parentNode.insertBefore(s,p.nextSibling);window.nudgespot=n;n.init=function(t){function f(n,m){var a=m.split('.');2==a.length&&(n=n[a[0]],m=a[1]);n[m]=function(){n.push([m].concat(Array.prototype.slice.call(arguments,0)))}}n._version=0.1;n._globals=[t];n.people=n.people||[];n.params=n.params||[];m="track register unregister identify set_config people.delete people.create people.update people.create_property people.tag people.remove_Tag".split(" ");for(var i=0;i<m.length;i++)f(n,m[i])}})(document,window.nudgespot||[]);nudgespot.init("eb17759fedfc0086f4ab71090a74d184");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=465671820265013&ev=PageView&noscript=1"
/></noscript>
</head>
<template name="header">
    <div class="computer tablet only row">
        <div class="ui fixed menu header-wrapper">
            <a href="{{ pathFor 'home' }}"><img class="ui image logo" src="/packages/vyndica_ui/assets/images/logo.png" /></a>
          <div class="right menu">
          {{#unless isOnboarding getCurrentPath}}
            <div class="item">
                <div class="ui search">
                    <input id="search" class="prompt" type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
            {{#if currentUser}}
            <div class="item">
                <button id="addItem" class="ui inverted green button active"><i class="add circle icon"></i> Add</button>
            </div>
            {{#if currentUser.username}}
            <div class="ui dropdown link item">
                <div class="hello">Hi {{currentUser.username}}!</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{{pathFor 'profile'}}">Profile</a>
                    <a class="item mine" href="{{pathFor 'items.mine'}}">My Items</a>
                    <a class="item want" href="{{pathFor 'items.want'}}">Want List</a>
                    <a class="item" href="{{pathFor 'loops.show'}}">Trades</a>
                    <div class="ui left pointing dropdown link item icon">
                        <i class="dropdown icon"></i>
                        <i class="alarm {{#if $gt getNotificationsCount 0}}red{{/if}} icon"></i>

                        <div class="menu">
                        {{#if $gt getNotificationsCount 0}}
                            <div class="item notifications">
                            {{getNotificationsCount}} notification{{#if $gt getNotificationsCount 1}}s{{/if}}
                            </div>
                        {{else}}
                            <div class="item">
                            No new notifications
                            </div>
                        {{/if}}
                        </div>
                    </div>
                    <!--
                    <div class="item"><a href="{{pathFor 'settings'}}">Settings</a></div>
                    -->
                </div>
            </div>
            <a class="ui item" href="{{pathFor 'user.graph' _id=$.Meteor.userId}}">
                <i class="ico-graph-network-icon"></i>  Graph
            </a>
            {{/if}}
             
            {{/if}}
            {{/unless}}
            <a class="ui item signin">
                <i class="{{iconClass}} icon"></i> {{iconText}}
            </a>
            {{#if $not currentUser}}
            <a class="ui item signup">
            Sign Up
            </a>
            {{/if}}
            <a class="ui item" href="{{pathFor 'about'}}">
                About
            </a>
            <a class="ui item" href="http://blog.vyndica.com">
                <i class="feed icon"></i> Blog
            </a>
          </div>
        </div>
    </div>

    <div class="mobile only row">
        <div class="ui fixed navbar menu mobile-bar">
            <a href="{{ pathFor 'home' }}" class="brand item">
                <img class="ui image logo" src="/packages/vyndica_ui/assets/images/logo.png" />
            </a>
            <div class="right menu open">
                <a href="" class="menu item">
                    <i class="sidebar icon"></i>
                </a>
            </div>
        </div>
        <div class="ui vertical navbar menu">
            {{#unless isOnboarding getCurrentPath}}
            <div class="item">
              <div class="ui icon input">
                <input id="search" type="text" placeholder="Search...">
                <i class="search link icon"></i>
              </div>
            </div>
            {{#if currentUser}}
            <div class="item">
                <button id="addItem" class="ui inverted green button active"><i class="add circle icon"></i> Add</button>
            </div>
            <a class="item" href="{{pathFor 'profile'}}">Profile</a>
            <a class="item" href="{{pathFor 'items.mine'}}">My Items</a>
            <a class="item" href="{{pathFor 'items.want'}}">Want List</a>
            <a class="item" href="{{pathFor 'loops.show'}}">Trades</a>
            <!--
            <div class="item">
                <a href="{{pathFor 'settings'}}">Settings</a>
            </div>
            <a class="ui item">
                <i class="alarm icon"></i>
            </a>
            -->
            {{/if}}
            {{/unless}}
            <a class="ui item signin">
                <i class="{{iconClass}} icon"></i> {{iconText}}
            </a>
            {{#if $not currentUser}}
            <a class="ui item signup">
            Sign Up
            </a>
            {{else}}
            <a class="ui item" href="{{pathFor 'user.graph' _id=$.Meteor.userId}}">
                <i class="ico-graph-network-icon"></i> Graph
            </a>
            {{/if}}
            <a class="ui item" href="{{pathFor 'about'}}">
                About
            </a>
            <a class="ui item" href="http://blog.vyndica.com">
                <i class="feed icon"></i> Blog
            </a>
        </div>
    </div>

    <div id="auth-modal" class="ui modal">
        <i class="close icon"></i>
        <div class="content">
        {{> atForm state=getAuthState}}
        </div>
    </div>
</template>
