<template name="basicLayout">
    <div id="main">
        <div class="ui grid">
        
            {{> header}}
        </div>
          {{#if $and ($not currentUser) ($eq getRouteName 'home')}}
            {{> banner}}
          {{/if}}
        <div id="content">
            {{> yield}}
            {{! Also a sidebar! }}
        </div>
        <footer>
            {{> footer}}
        </footer>
    </div>
</template>

<template name="banner">
  <div id="banner" class="home-banner">
  <div class="ui center aligned grid">
    <div class="row" style="padding-top: 12em;">
          <div class="sixteen wide column">
              <h1 class="ui header" style="color: white; font-size:3.5em;">The smarter <br> way to swap.</h1>
          </div>
    </div>
      <div class="row">
          <div class="sixteen wide column">
              <button class="ui massive call-to-action button" data-action="signup">Get Started</button>
          </div>
      </div>
  </div>
  </div>
</template>