<template name="profile">
  <div class="ui main text container left aligned">
    <div class="ui top attached segment">
      <h4 class="ui dividing header">Profile</h4>
      {{#if $eq getFormType 'readonly'}}
      <div class="ui text menu">
        <div class="right menu">
          <button id="editBtn" class="ui labeled icon primary right floated button">
            <i class="edit icon"></i>Edit
          </button>
        </div>
      </div>
      {{/if}}
      <form class="ui form">
        {{#autoForm collection="Profiles" schema=Schemas.profile doc=profile id="viewEditUserProfile" type=getFormType meteormethod='updateUserProfile'}}
          {{> afQuickField name="firstName"}}
          {{> afQuickField name="lastName"}}
          {{> afQuickField name="street1"}}
          {{> afQuickField name="street2"}}
          {{> afQuickField name="city"}}
          {{> afQuickField name="state"}}
          {{> afQuickField name="zip"}}
          {{#if $neq getFormType 'readonly'}}
            <input id="updateBtn" type="submit" class="positive ui submit button" value="Update"/>
            <input id="cancelBtn" type="button" class="ui cancel button" value="Cancel"/>
          {{/if}}
        {{/autoForm}}
      </form>
    </div>
  </div>
</template>
