<template name="addItem">
  <div class="ui container">
    <div class="ui top attached segment">
      {{> wizard id="addItem" steps=steps stepsTemplate="nosteps" buttonClasses="fluid blue ui button" confirmButton="Finish"}}
    </div>
  </div>
</template>

<template name="itemPicture">
<div class="ui container">
  <h4 class="ui dividing header">Let's Add a Photo</h4>
  <div class="ui grid">
    {{#if photo}}
    <div class="row">
      <div class="twelve wide image centered column">
        <img id="primary-img" class="ui fluid image" src="{{photo}}">
      </div>
    </div>
    <div class="row">
      <div class="twelve wide image centered column">
        <i class="capture bordered photo icon"></i>
      </div>
    </div>
    {{else}}
    <div class="centered row">
      <div class="eight wide image center alinged column">
        <i class="capture massive bordered photo icon"></i>
        <h3 class="ui centered header">Tap the camera to start!</h3>
      </div>
    </div>
    {{/if}}
      
    {{#if photo}}
    <div class="row">
      <div class="twelve wide image centered column">  
        {{#autoForm id="information-form" schema=step.schema}}
        {{> afQuickField name="name" type="hidden"}}
        <br>
        {{> wizardButtons}}
        {{/autoForm}}
      </div>
    </div>
    {{/if}}
  </div>
</div>
</template>

<template name="itemInformation">
<div class="ui container">
<h4 class="ui dividing header">Tell us about this item</h4>
  <div class="ui grid">
    <div class="row">
      <div class="twelve wide centered column">
      {{#autoForm id="information-form" schema=step.schema}}
      {{> afQuickField name="title"}}
      {{> afQuickField name="description" rows=6}}
      {{> afQuickField name="zip"}}
      <br>
      {{> wizardButtons}}
      {{/autoForm}}
      </div>
    </div>
  </div>
</div>
</template>

<template name="itemTags">
<div class="ui container">
    <h4 class="ui dividing header">Tag your item</h4>
    <div class="ui grid">
      <div class="row">
        <div class="twelve wide centered column">
          {{#autoForm id="tags-form" schema=step.schema data=step.data}}
            {{> afQuickField name='tags'}}
            <br>
            {{> wizardButtons}}
          {{/autoForm}}
        </div>
      </div>
    </div>
</div>
</template>

<template name="itemQuantity">
<div class="ui container">
  <p>How many duplicates of this item do you have and would you like to Add as an individual listing?</p>
  <div class="ui grid">
    <div class="row">
      <div class="twelve wide centered column">
      {{#autoForm id="quantity-form" schema=step.schema data=step.data}}
        <div class="fluid blue ui icon up button">
          <i class="big white caret up icon"></i>
        </div>
        {{> afFieldInput name="quantity"}}
        <div class="fluid blue ui icon down button">
          <i class="big white caret down icon"></i>
        </div>
        <br>
        {{> wizardButtons}}
      {{/autoForm}}
      </div>
    </div>
  </div>
</div>
</template>

<template name="itemCondition">
  <div class="ui container">
  <h4 class="ui dividing header">Is your item...</h4>
  <div class="ui centered grid">
    <div class="centered row">
      <i class="huge icons" data-action="condition" id="used">
        <i class="big thin circle orange icon" id="used"></i>
        <i class="refresh orange icon" id="used"></i>
      </i>
      
      <i class="huge icons" data-action="condition" id="new">
        <i class="big thin circle blue icon" id="new"></i>
        <i class="star blue icon" id="new"></i>
      </i>
    </div>
    {{#if showTypes}}
    <div class="centered row"> 
      <i class="huge green smile icon" id="good"></i>
      <i class="huge yellow meh icon" id="fair"></i>
      <i class="huge red frown icon" id="poor"></i>
    </div>
    {{/if}}
  </div> 
  {{#autoForm id="condition-form" schema=step.schema data=step.data}}
    {{> afQuickField name="condition" type='hidden'}}
    {{#if showButton}}
    <br>
      {{> wizardButtons}}
    {{/if}}
  {{/autoForm}}
  </div>
</template>

<template name="nosteps">
  
</template>
