<template name="item">
  <div class="ui main text container left aligned">
    <div class="ui top attached segment">
      <div class="ui dimmer">
        <div class="ui loader"></div>
      </div>
      <h3 class="ui dividing header"> 
      <i class=" huge user icon"></i> {{doc.ownerName}}
      </h3>
      <div class="ui secondary  menu">
        <a class="ui button" href="{{pathFor 'item.graph' _id=doc._id}}">
          <i class="ico-graph-network-icon"></i> See Item Graph
        </a>
        <div class="right menu">
        {{#if currentUser}}
          {{#if isDocOwner}}
            {{#if canDelete}}
            <button id="deleteBtn" class="ui labeled icon red right floated button">
              <i class="remove circle icon"></i>Delete
            </button>
            {{/if}}
            {{#if canEdit}}
              {{#unless $eq getFormType 'update'}}
                <button id="editBtn" class="ui labeled icon primary right floated button">
                  <i class="edit icon"></i>Edit
                </button>
              {{/unless}}
            {{/if}}
          {{/if}}
        {{/if}}
        </div>
      </div>
      {{#autoForm collection="Items" id="viewEditItemForm" doc=doc type=getFormType}}
      <div class="ui grid">
        <div class="row">
          <div class="five wide column">
          {{#if $eq getFormType 'update'}}
            {{> afFieldInput name='title'}}
          {{else}}
            <h2 class="ui header">{{doc.title}}</h2>
          {{/if}}
          </div>
        </div>
        <div class="twelve centered column row">
          <div class="">
            <img id="primary-img" class="ui centered image" src="{{getImgSrc}}">
            
            {{#if $eq getFormType 'update'}}
              {{> _addImage }}
            {{/if}}
          </div>
        </div>
        <div class="row">
          <div class="eleven wide column">
            <div class="field">
              <label>{{afFieldLabelText name='condition'}}</label>
              {{#if $eq getFormType 'update'}}
                {{> afFieldInput name='condition'}}
              {{else}}
                <input type="text" name="condition" data-schema-key="condition" readonly="" value="{{titleize doc.condition}}">
              {{/if}}
            </div>
            <div class="field">
              <label>{{afFieldLabelText name='quantity'}}</label>
              {{#if $eq getFormType 'update'}}
                {{> afFieldInput name='quantity'}}
              {{else}}
                {{doc.quantity}}
              {{/if}}
            </div>
            <div class="field">
              <label>{{afFieldLabelText name='description'}}</label>
              {{> afFieldInput name='description'}}
            </div> 
            <div class="field">
              <label>{{afFieldLabelText name='tags'}}</label>
              {{#if $eq getFormType 'update'}}
                {{> afFieldInput name='tags'}}
              {{else}}
                {{#each doc.tags}}
                  <div class="ui tag label">
                  {{getTagName this}}
                  </div>
                {{/each}}
              {{/if}}
            </div>
          {{#if $eq getFormType 'update'}}
            <input id="editBtn" type="submit" class="positive ui submit button" value="Update"/>
            <input id="editBtn" type="button" class="ui cancel button" value="Cancel"/>
          {{/if}}

          </div>
        </div>
      </div>
      {{/autoForm}}
      {{#if $and ($not isDocOwner) isAvailable}}
      <div class="ui divider"></div>
      <div class="fourteen wide centered column">
        <span class="left floated">
          {{> getIt doc=doc}}
        </span>
      </div>
      {{/if}}
    </div>
    <div class="comment-section">
      {{> commentsBox id=doc._id collectionName="items"}}
    </div>
  {{!-- recommended items at bottom, maybe carousel? --}}

  {{> popupTrade}}
  {{> popupConfirm}}
  </div>

  <div class="ui small modal delete">
    <div class="content">
      <p>Are you sure you want to delete this item?</p>
    </div>
    <div class="actions">
      <div class="ui approve positive button">Yes</div>
      <div class="ui cancel button">Cancel</div>
    </div>
  </div>
</template>
