<template name="items">
<div class="ui fluid {{#if $not isMobile}}container{{/if}}">
  <div class="items-grid">
    <div class="grid-sizer"></div>
      {{#each getItems}}
        <div class="grid-item">
        {{> itemCard this}}
        </div>
      {{/each}}
  </div>
</div>
{{#if currentUser}}
{{> popupTrade}}
{{/if}}
{{> popupConfirm}}
</template>
