<template name="itemDetails">
  <div class="ui container">
    {{#autoForm collection="Items" id="viewEditItemForm" doc=doc type=getFormType}}
    <div class="ui grid">
    {{#if currentUser}}
      {{#if isDocOwner}}
      <div class="row">
        <div class="ten wide image centered column">
        <button id="deleteBtn" class="ui labeled icon red right floated button">
          <i class="remove circle icon"></i>Delete
        </button>
        {{#unless $eq getFormType 'update'}}
        <button id="editBtn" class="ui labeled icon primary right floated button">
          <i class="edit icon"></i>Edit
        </button>
        {{/unless}}
        </div>
      </div>
      {{/if}}
    {{/if}}
      <div class="row">
        <div class="ten wide image centered column">
          <img id="primary-img" class="ui fluid image" src="{{getImgSrc}}">
          <div class="after">{{doc.title}}</div>
        </div>
      </div>
      <div class="row">
        <div class="fourteen wide centered column">
        {{#if $eq getFormType 'update'}}
          {{> afFieldInput name='title'}}
        {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="fourteen wide centered column">
          <div class="field">
            <h4 class="ui dividing header">{{afFieldLabelText name='description'}}</h4>
            {{#if $eq getFormType 'update'}}
              {{> afFieldInput name='description'}}
            {{else}}
              {{doc.description}}
            {{/if}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="fourteen wide centered column">
          <div class="field">
            <h4 class="ui dividing header">{{afFieldLabelText name='tags'}}</h4>
            {{#if $eq getFormType 'update'}}
              {{> afFieldInput name='tags'}}
            {{else}}
              {{#each doc.tags}}
                <div class="ui tag label">
                {{getTagName this}}
                </div>
              {{/each}}
            {{/if}}
          </div>
          <div class="field">
            <h4 class="ui dividing header">{{afFieldLabelText name='quantity'}}</h4>
            {{#if $eq getFormType 'update'}}
              {{> afFieldInput name='quantity'}}
            {{else}}
              {{doc.quantity}}
            {{/if}}x Items
          </div>
          <div class="field">
            <h4 class="ui dividing header">{{afFieldLabelText name='condition'}}</h4>
            {{#if $eq getFormType 'update'}}
              {{> afFieldInput name='condition'}}
            {{else}}
              {{titleize doc.condition}}
            {{/if}}
          </div>
        {{#if $eq getFormType 'update'}}
          <input id="editBtn" type="submit" class="positive ui submit button" value="Update"/>
          <input id="editBtn" type="button" class="ui cancel button" value="Cancel"/>
        {{/if}}

        </div>
      </div>
      <div class="row">
      {{#if currentUser}}
        {{#if $not isDocOwner}}
          <div class="ui divider"></div>
          <div class="fourteen wide centered column">
            <span class="left floated">
              {{> getIt ..}}
            </span>
          </div>
        {{/if}}
      {{/if}}
      </div>
      <div class="row">
        <div class="fourteen wide centered column">
          <h4 class="ui header"> 
          <img class="ui tiny circular image" src="/packages/vyndica_ui/assets/images/justen.jpg"> {{doc.ownerName}} <div class="ui star rating" data-rating="3"></div>
          </h4>
        </div>
      </div>
    </div>
    {{/autoForm}}
  </div>

  {{> popupTrade}}
</template>