<template name="itemsList">
<div class="ui main text container left aligned">
  <table class="ui celled padded table">
    <thead>
      <tr><th class="single line">{{title}}</th></tr>
    </thead>
    <tbody>
    {{#if items}}
      {{#each items}}
        {{> Template.dynamic template=../itemTemplate data=this}}
      {{/each}}
    {{else}}
    No items found
    {{/if}}
    </tbody>
  </table>
</div>
{{> popupConfirm}}
</template>

<template name="listItem">
<tr class="clickable">
  <td id="{{_id}}">
    <h2 class="ui image header" id="{{_id}}" >
      <img src="{{imgURL getImgParams}}" class="ui image" id="{{_id}}">
      <div class="content" id="{{_id}}">
        {{title}}
        <div class="sub header">
        </div>
      </div>
    </h2>
  </td>
</tr>
</template>