<template name="itemCard">
    <div class="ui fluid card clickable">
      <div class="image">

          <img src="{{getImgURL}}">
          
          {{#if $not isMobile}}
            <div class="after">
              <div class="ui two column grid">
                <div class="eleven wide column">
                  <div class="cardtitle">{{title}}</div>
                </div>
                <div class="five wide column">
                  <div class="right floated">
                    <div class="statistic">
                      <div class="value">
                        <i class="big comments icon"></i> {{getCommentCount}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{/if}}
      </div>
      {{#if isMobile}}
      <div class="content">
        <div class="ui two column grid">
          <div class="eleven wide column">
            <div class="cardtitle">{{title}}</div>
          </div>
          <div class="five wide column">
            <div class="right floated">
              <div class="statistic">
                <div class="value">
                  <i class="comments icon"></i> {{getCommentCount}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/if}}
      <div class="extra content">
      {{#if currentUser}}
        {{#if $not isOwner}}
        <span class="left floated">
          {{> getIt doc=this}}
        </span>
        <!-- removed want list -->
        {{/if}}
      {{else}}
        <span class="left floated">
          {{> getIt ..}}
        </span>
      {{/if}}
      </div>
    </div>
</template>

<!--
<span class="right floated">
          <div class="ui right pointing dropdown icon">
            {{#if itemIsWanted}}
              <i class="red large remove circle icon"></i>
            {{else}}
              <i class="green large add circle icon"></i>
            {{/if}}
              <div class="menu">
              {{#if itemIsWanted}}
                <div class="item" data-action="remove-from-wants">
                Remove from Want List
                </div>
              {{else}}
                <div class="item" data-action="add-to-wants">
                Add to Want List
                </div>
              {{/if}}
              </div>
          </div>
        </span>
        -->
