<template name="newItem">
  <div class="ui main text container left aligned">
    <div class="ui top attached segment">
      <div class="ui top attached label centered">
        Add New Item
      </div>
      <div class="ui dimmer">
        <div class="ui loader"></div>
      </div>
      {{#autoForm doc=doc collection="Items" id="newItemForm"}}
        <h4 class="ui dividing header">Item Information</h4>
        {{> afQuickField name="title"}}
        <div class="field">
          <h4 class="ui dividing header">Image</h4>
          {{#if afFieldIsInvalid name='img'}}
          <div class="ui negative message">
            <p>Please upload an image</p>
          </div>
          {{/if}}
              {{> _addImage }}
        </div>
        <div class="field">
          {{> afQuickField name="condition"}}
        </div>
        <div class="field">
          {{> afQuickField name="description"}}
        </div>
        <div class="field">
          <label>{{afFieldLabelText name='tags'}}</label>
          {{> afFieldInput name='tags'}}
        </div>
        <h4 class="ui dividing header">Shipping From</h4>
        <div class="seven wide field">
        {{> afQuickField name="city"}}
        </div>
        <div class="inline fields">
          <div class="five wide field">
            {{> afQuickField name='state'}}
          </div>
          <div class="five wide field">
            {{> afQuickField name='zip'}}
          </div>
        </div>
        <input type="submit" class="positive ui submit button" value="Submit"/>
        <input type="button" class="ui button" value="Cancel"/>
      {{/autoForm}}
    </div>
  </div>

  {{> popupConfirm}}

  <div class="ui small modal picture">
    <div class="content">
      <p>Please add a picture</p>
    </div>
    <div class="actions">
      <div class="ui approve positive button">Ok</div>
    </div>
  </div>
</template>
