<template name="popupTrade">
  <div class="ui small modal items totrade">
  <i class="close icon"></i>
  {{#if showItemsList}}
    {{> tradeList}}
  {{else}}
    {{> tradeConfirm}}
  {{/if}}
  <div class="actions">
    <div class="fluid ui approve positive totrade disabled button">{{#if $not showItemsList}}Complete {{/if}}Trade{{#if $not showItemsList}} Suggestion{{/if}}</div>
    <div class="fluid ui cancel button">{{#if showItemsList}}Create New Listing{{else}}Cancel{{/if}}</div>
  </div>
</div>
</template>

<template name="tradeList">
  <div class="header">Select Items to Trade</div>
    <div class="content">
      <div class="ui middle aligned list">
      {{#if usersItems}}
      {{#each usersItems}}
        {{> tradeListItem this}}
      {{/each}}
      {{else}}
      <div class="item">
      No items to create trade offers with. Add a new one!
      </div>
      {{/if}}
    </div>
  </div>
</template>

<template name="tradeListItem">
  <div class="item" id="{{_id}}">
    <div class="right floated content" id="{{_id}}" 
    style="margin-top: 1.5em;">
      <div  id={{_id}} class="ui toggle child checkbox">
        <input id={{_id}} type="checkbox">
      </div>
    </div>
    <img src="{{imgURL getImgParams}}" class="ui image" id="{{_id}}"/>
    <div class="content" id="{{_id}}">
      <div class="header">{{title}}</div>
    </div> 
  </div>
</template>

<template name="popupConfirm">
  <div class="ui small modal confirm">
    <i class="close icon"></i>
    <div class="header">{{#if isConfirm}}Success!{{else}}{{headerTitle}}{{/if}}</div>
      <div class="content">
        {{#if isConfirm}}
        <div class="ui grid">
          <div class="centered row">
            <i class="massive thumbs up icon"></i>
          </div>
        </div>
        {{else}}
          {{{getContent}}}
        {{/if}}
      </div>
    <div class="actions">
      <div class="fluid ui approve positive button">Ok</div>
      {{#if $and ($not isConfirm) ($not isInfo)}}
        <div class="fluid ui cancel button">Cancel</div>
      {{/if}}
    </div>
  </div>
</template>

<template name="tradeConfirm">
  <div class="header">Confirm Trade Offers</div>
  <div class="content">
    <div class="list">
    {{#each tradePairs}}
      {{> tradepair this}}    
    {{/each}}
    </div>
  </div>
</template>

<template name="tradepair">
  <div class="tradepair item" id="{{divId}}">
    <div id="id" hidden>{{_id}}</div>
    <div class="ui grid">
      <div class="four wide column">
        <div class="row">
          <h2 class="ui image header">
            <img src="{{userItem.imgURL getImgParams}}" class="ui image" id="{{userItem._id}}">
          </h2>
        </div>
        <div class="row">
          {{userItem.title}}
        </div>
      </div>
      <div class="four wide column">
      <i class="big green long arrow right icon"></i>
      </div>
      <div class="four wide column">
        <div class="row">
          <h2 class="ui image header">
            <img src="{{tradeItem.imgURL getImgParams}}" class="ui image" id="{{tradeItem._id}}">
          </h2>
        </div>
        <div class="row">
          {{tradeItem.title}}
        </div>
      </div>
      <div class="four wide column">
      {{#if $or ($eq getStatus 'unconfirmed') ($eq getStatus 'confirmed')}}
        <button class="ui positive button" data-action="gotoloop">Go To Trade Loop</button>

      {{else}}
      <i id="{{divId}}" class="clickable big remove red circle outline icon" data-action="remove"></i>
      {{/if}}
      </div>
    </div>
  </div>
</template>

<!-- 

<div class="content">
        <div class="header">{{userItem.title}} for {{tradeItem.title}}</div>
      </div>

-->