<head>
  <script type="text/javascript">
var ZoomChartsLicense = "ZCP-9zihbat8u-4: Vyndica";
var ZoomChartsLicenseKey = "0c2fb7e1698b857092257feba1ffd8fa592bfe02623b80e34a"+
"85db6437bebc8e0bbcf39a90a1f5508cafa4f9554e2c02dc9fe5373bff16aefd628c7b48e9bb8"+
"7f4ca00c8230ca0b1233bd20f782bac5c8984d7473635322ecf6e40d988c1139b80b878b582a1"+
"e1f8d63c35b1fd6fbc8cb9099454b162b1f7f53f05979763775e9d28927dabeee5d921e1930e8"+
"d137a86621d66f6cc259db6f9e79523046fdc6ddaddf9a8627721031ac5c29431b260cd93a3d3"+
"18ad73ecca1c1def17fdd7c184de380b035ed006cc7761e411439442b2342e1ab78879e91750b"+
"26956bee57c7a20e7cf201a6dcd6b4f675d9e2eed6b191f70ab49886af3a83aead319ea872871";
</script>
<script src="https://cdn.zoomcharts-cloud.com/1/stable/zoomcharts.js"></script>
</head>
<template name="graph">
  {{#if hasData}}
  <div id="graph" style='width:100%; height:500px;'>
  </div>
   <div id="custom_context_menu" class="DVSL-Menu" style="display:none; position:absolute;">
    <a id="close_menu" class="DVSL-Menu-close" title="Close" href="#">X</a>
   </div>
  {{else}}
    <div class="ui container">
    {{#if $eq routeName 'items.graph'}}
     <h1 class="ui header">Oops, looks like there are no trade suggestions for this item. Try back again later.</h1>
    {{else}}
     <h1 class="ui header">Looks like you don't have any items with trade suggestions. Suggest a few trades and see your trade graph come to life!</h1>
    {{/if}}
    </div>
  {{/if}}
{{> popupTrade}}
{{> popupConfirm}}
</template>


<template name="menuBody">
  <div class="DVSL-Menu-title">{{title}}</div>
  <nav id="menu_nav">
    <div clas="ui centered grid">
      <div class="row">
        <img src="{{imgURL 'h_180,w_180,c_lfill,q_50'}}">    
      </div>
      <div class="row">
        {{#if $neq $.Meteor.userId ownerId}}
          {{> getIt doc=this}}
        {{/if}}
        <button class="ui primary button" data-action="view-item">View Item</button>
      </div>
    </div>
  </nav>
</template>